  
    
    h1{
        align-content: center;
        text-align: center;
        margin-left: 20px;
        font-size: 1.5cm;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
       
    }
    
    .contenedor{
        align-content: space-around;
        
    }
    .container-md{
        align-content: space-around;
    }

    .list-group a {
        float: left;
    }
