<div class="container">
    <div class="row">
        <div class="col-md-10">

            <h2>Barras de progreso de conocimientos</h2>
            <button type="button" class="btn btn-outline-success" style=" display: flex; float: right; "
             routerLink="/know" *ngIf="isLogged">NUEVO  CONOCIMIENTO</button>

                <div class="col-md-10"></div>

          <table class="table">

                <tr class="col-xl-4" *ngFor="let conocimiento of conocim">
                 <div class="progress">
                        <h3 class="progress-title">{{conocimiento.nombreCo}}</h3>

                        <div class="progress-bar"style= "width:{{conocimiento.porcentajeCo}}%; background-color:green;" ></div>
                    </div>
                    <h3 class="progress-value"><span>{{conocimiento.porcentajeCo}}</span>%</h3>
                

                    <td *ngIf="isLogged">
                        <button class="btn btn-info" routerLink="/editando/{{conocimiento.id}}">

                            <i class="bi bi-pen"></i>EDICION</button>
                    </td>


                    <td *ngIf="isLogged">
                        <button class="btn btn-outline-danger" (click)="borrarConoc(conocimiento.id)">
                            <i class="bi bi-trash"></i>BORRAR</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

   

    <!--
    <div class="container">
    <div class="row">
        <h2>Barras de progreso de conocimientos</h2>
        <button type="button" class="btn btn-outline-success" routerLink="/know" *ngIf="isLogged">NUEVO
            CONOCIMIENTO</button>

        <div class="col-md-10">
            <table class="table">
                <tr *ngFor="let conocimiento of conocim">
                    <h3 class="progress-title">{{conocimiento.nombreCo}}</h3>
                    <div class="progress">
                        <div class="progress-bar" style="width:65%; background:#1f75c4;">
                            <span class="progress-icon fa fa-globe"></span>

                            <div class="progress-value"><span> {{conocimiento.porcentajeCo}}</span>%</div>
                            <div class="col-xl-4">
                                <td *ngIf="isLogged">
                                    <button class="btn btn-light"
                                        style="display:flex;
                                         float:right; 
                                         position:absolute; 
                                         background-color: blue;
                                         justify-content: right;"
                                        routerLink="/editskill/{{conocimiento.id}}">
                                        <i class="bi bi-pen"></i>EDITAR</button>
                                </td>
                                <div class="col-xl-4">
                                    <td *ngIf="isLogged">

                                        <button class="btn-btn-danger" (click)="borrarConoc(conocimiento.id)">
                                            <i class="bi bi-trash-fill"
                                             style="display: flex; 
                                             float: initial;
                                              position: absolute;
                                              background-color: coral;
                                              justify-content: right;
                                              "></i>BORRAR</button>

                                    </td>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
            </table>
        </div>

    </div>
</div>
-->

    <!--
<div class="row">
    <h2>Barras de progreso de conocimientos</h2>

    <div class="col-lg-2">
        

            <table class="table">
                <tbody>
                    
                    <tr *ngFor="let conocimiento of conocim">
                        <td>
                            <h4>{{conocimiento.nombreCo}}</h4>
                        </td>
                        <td class="progress-bar progress-bar-striped active"
                        role="progressbar" 
                        attr.aria-valuenow="{{conocimiento.nombreCo}}"
                        aria-valuemin="0"
                        aria-valuemax="100%"
                        [ngStyle]="{width: conocimiento.porcentajeCo + '%'}"
                        
                        >

                            <h4>{{conocimiento.porcentajeCo}}</h4>
                        </td>

                        <td *ngIf="isLogged">
                            <button class="btn btn-light" routerLink="/editskill/{{conocimiento.id}}">
                                <i class="bi bi-pen"></i>EDITAR</button>
                        </td>

                        <td *ngIf="isLogged">
                            <button class="btn-btn-danger" (click)="borrarConoc(conocimiento.id)">
                                <i class="bi bi-trash-fill"></i>BORRAR</button>

                        </td>

                    </tr>

                    <div>
                        <button type="button" class="btn btn-outline-success" routerLink="/know" 
                        *ngIf="isLogged">NUEVO CONOCIMIENTO</button>
                    </div>

                </tbody>

            </table>

        </div>

    </div>
   -->

    <!-- class="container">
    style="width:95% "
    <p>Css</p>
    <div id="Css" class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0"
            aria-valuemax="100" style="width:70%">
            70%
        </div>
    </div>
</div>
<div class="container">
    <p>Html</p>
    <div id="Html"  class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0"
            aria-valuemax="100" style="width:69%">
            69%
        </div>
    </div>
</div>
<div class="container">
    <p>Bootstrap</p>
    <div id="Bootstrap" class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0"
            aria-valuemax="100" style="width:80%">
            80%
        </div>
    </div>
</div>
<div class="container">
    <p>Angular</p>
    <div id="Angular" class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0"
            aria-valuemax="100" style="width:85%">
            85%
        </div>
    </div>
</div>
<div class="container">
    <p>Base de datos(MySql)</p>
    <div id="BaseDeDatos" class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0"
            aria-valuemax="100" style="width:75%">
           75%
        </div>
    </div>
</div>
<div class="container">
<p>SpringBoot</p>
<div id="SpringBoot" class="progress">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0"
        aria-valuemax="100" style="width:77%">
        77%
    </div>
</div>
<br>
<br>

<input type="button" id="boton" value="Recargar">
</div>-->