<div class="row">
    <h1>Proyectos realizados:</h1>
    <div class="contenedor">
        <div class="col-sm-12 parte1 ">
            <h2>Proyecto integrador de Argentina Programa</h2>
            <p>Es el proyecto donde volque los conocimientos adquiridos durante el curso.</p>
            <div class="col-sm-12 col-md 5 col-lg-5 offset-md-1 offset-lg-1 parte2">
                <img src="../../../assets/imagenes/banner.jpg" class="img-proyecto">

            </div>

        </div>
    </div>

</div>
    


